@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

* {
  font-family: "Hanna", fantasy;

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
    background-color: #2ac1bc;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

// @font-face {
// font-family: 'BMDOHYEON';
// src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
// font-weight: normal;
// font-style: normal;}

// ----- 전역으로 설정할 것들 정리 -----

:root {
  // ----- color -----
  --brand-color: #5ebebb;
  --point-color: #ff8400;

  // ----- radius -----
  --sm-radius: 6px;
  --lg-radius: 30px;

  // ----- box-shadow -----
  --box-shadow: 0px 0px 5px gray;
}

/* media query 적용 */
// @media screen and (min-width: 768px) {
// .infoAndItems {
// flex-flow: row;
// }

// .infoIconsProfile {
// flex: 50%;
// }

// .items {
// flex: 50%;
// }
// }
